body{
    font-size: 20px;
    display: flex;
}

main{
    padding: 40px;
    width: 1256px;
    margin: auto;
}

h1, h2, h3, h4, h5{
    color: #3d4449;
    font-family: "Roboto Slab", serif;
    font-weight: 700;
}

h2{
    line-height: 1.5;
    font-size: 1.38889em;
}

ul{
    list-style: none;
}

.menuIzq{
    width: 290px;
    background-color: rgba(210, 215, 217, 0.25);
}

.menuIzq ul{
    font-size: 0.9em;
    letter-spacing: 0.075em;
    color: #7f888f;
}

button{
    border: 3px solid #f56a6a;
    color: #f56a6a;
    background-color: white;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: "Roboto Slab", serif;
    font-size: 11px;
    font-weight: 600;
}

button:hover{
    cursor: pointer;
    background-color: #f56a6a2a;
}

strong{
    color: #3d4449;
}

p{
    color: #7f888f;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
}

.editorial p{
    font-size: 20px;
}

header{
    display: flex;
    align-items: center;
    border-bottom: solid 5px #f56a6a;
    justify-content: space-between;
    margin-bottom: 40px;
}

.brands{
    display: flex;
}

.brands div{
    margin: 0 6px;
}

.brands i{
    color: #7f888f;
}

.brands i:hover{
    color: #f56a6a;
}

.editorial{
    display: flex;
    align-items: center;
}

.contenido1{
    display: flex;
}

.contenido1 > div:first-of-type{
    min-width: 520px;
}

body > div:first-of-type{
    max-width: 300px;
}

main section{
    border-bottom: 1px solid rgba(210, 215, 217, 0.75);
    padding: 30px 0 50px 0;
}

.contenido2 div{
    display: flex;
    flex-wrap: wrap;
}

.contenido2 div div{
    width: 628px;
    display: flex;
}

.caja{
    margin-top: 30px;
}

.simbolo{
    height: 90px;
    max-width: 90px;
    border: 1px solid rgba(210, 215, 217);
    align-content: center;
    rotate: 45deg;

}

.simbolo i{
    color: #f56a6a;
    font-size: 50px;
    margin: auto;
    rotate: -45deg;
}

.textoSimbolo{
    max-width: 457px;
    margin-left: 40px;
}

.textoSimbolo h3, p{
    margin-top: 0;
}

.contenido3{
    display: flex;
    flex-wrap: wrap;
}

.cajaFoto{
    width: 378px;
    margin: 0 40px 40px 0;
}

.cajaFoto img{
    border-radius: 10px;
    width: 100%;
}

.botonMenu{
    position: fixed;
    left: 310px;
}

.botonMenu button{
    padding: 0;
    border: 0px;
    background-color: transparent;
}

.fa-bars{
    font-size: 30px;
}

.relleno{
    min-width: 20px;
}